//= depend_on "baixarlegendas-theme/modules/variables.less";
//= depend_on "baixarlegendas-theme/modules/mixins.less";
//= depend_on "baixarlegendas-theme/modules/normalize.less";
//= depend_on "baixarlegendas-theme/modules/print.less";
//= depend_on "baixarlegendas-theme/modules/scaffolding.less";
//= depend_on "baixarlegendas-theme/modules/type.less";
//= depend_on "baixarlegendas-theme/modules/code.less";
//= depend_on "baixarlegendas-theme/modules/grid.less";
//= depend_on "baixarlegendas-theme/modules/tables.less";
//= depend_on "baixarlegendas-theme/modules/forms.less";
//= depend_on "baixarlegendas-theme/modules/buttons.less";
//= depend_on "baixarlegendas-theme/modules/navs.less";
//= depend_on "baixarlegendas-theme/modules/navbar.less";
//= depend_on "baixarlegendas-theme/modules/panels.less";
//= depend_on "baixarlegendas-theme/modules/utilities.less";
//= depend_on "baixarlegendas-theme/modules/responsive-utilities.less";

// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "navs.less";
@import "navbar.less";
@import "panels.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

.thumbnail {
	display:block;
	margin-bottom: 20px;

	h3, h6 {
		margin-bottom: 0;
	}

	.muted {
		color: @gray-light;
	}

	&:hover .muted {
		color: darken(@gray-light, 15%);
	}
}

.fb-like {
	overflow: hidden;
}

.fb-comments {
	width: 100%;
	overflow: hidden;
}
