//
// Navbars
// --------------------------------------------------
@import "twitter/bootstrap/navbar.less";

.container > .navbar-header {
	float: left;
	margin-right: 0;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-inverse {
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top,#222,#111);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
	background-image: -webkit-linear-gradient(top,#222,#111);
	background-image: -o-linear-gradient(top,#222,#111);
	background-image: linear-gradient(to bottom,#222,#111);
	background-repeat: repeat-x;
}

.navbar-nav {
	float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    @navbar-padding-vertical;
        padding-bottom: @navbar-padding-vertical;
      }
    }

    &.navbar-right:last-child {
      margin-right: -@navbar-padding-horizontal;
    }

	@media (max-width: @screen-xs-max) {
		.upload a {
			padding-left: 5px;

			span {
				padding-left: 20px;
			}
		}
	}
}

.navbar-form {
	clear:both;
	border-bottom: none;
	@shadow: inset 0 1px 0 rgba(255,255,255,.1);
	.box-shadow(@shadow);
	padding-bottom: 2px;

	.form-control[type=search] {
		border-radius: 50px;
		background-color: #515151;
		border-color: #111;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);
		.placeholder(@color: lighten(@gray-light, 20%));

		&:focus, &.focused {
			background-color: @input-bg;
			border-color: @input-border;
			box-shadow: 0 0 3px rgba(0,0,0,0.15);

			.placeholder(@color: @input-color-placeholder);
		}
	}

	@media (min-width: @screen-sm-min) {
		clear: none;
		.box-shadow(none);

		.form-control[type=search] {
			transition: background-color ease-in-out .15s, width ease-in-out .15s;
			width: 160px;

			&:focus, &.focused {
				width: 300px;
			}
		}
	}
}
