//
// Panels
// --------------------------------------------------
@import "twitter/bootstrap/panels.less";

.panel-heading,
.panel-footer {
	border: none;
}

.panel-title {
	font-size: @font-size-h1;
}

.panel-title.small {
	font-size: @font-size-h2;
}
