//
// Responsive: Utility classes
// --------------------------------------------------
@import "twitter/bootstrap/responsive-utilities.less";

.text-center-xs {
	@media (max-width: @screen-xs-max) {
		text-align: center;

		.img-responsive {
			margin: 0 auto;
		}
	}
}
