//
// Variables
// --------------------------------------------------
@import "twitter/bootstrap/variables.less";

@gray-dark:              #666;
@gray-lighter:           #fbfbfb;
@brand-primary:          #005dbb;

@navbar-height:          44px;
@navbar-border-radius:   0;

@breadcrumb-bg:          @panel-bg;
@breadcrumb-separator:          "";

@font-size-h1:            24px;
@font-size-h2:            20px;
@font-size-h3:            18px;
@font-size-h4:            16px;
@font-size-h5:            15px;
@font-size-h6:            14px;

@panel-default-heading-bg: @body-bg;
@panel-footer-bg: @body-bg;

@subtitles-list-bg: #F9932A;
@subtitles-list-footer-bg: #E97B13;
@subtitles-list-border-color: #DC7B1D;
@subtitles-list-text-dark: #A25C15;
