<% content_for :title do %>| Upload de Legenda<% end %>
<% content_for :description do %>Faça upload rápido de uma ou mais legendas e contribua para tornar nosso site o mais completo possível.<% end %>
<% content_for :keywords do %>upload, comunidade, rápido, fácil, turbo, contribua<% end %>
<% content_for :meta do %><%= csrf_meta_tag %><% end %>
<% content_for :html_id do %>drop-target<% end %>
<% content_for :css do %>
<%= stylesheet_link_tag 'upload' %>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'upload' %>
<% end %>

<% if flash[:success] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
  <strong>Obrigado!</strong> Sua legenda para <%= link_to @subtitles[0].release.owner.to_s( :long ), @subtitles[0].release.owner.path, class: 'alert-link' %> foi enviada com sucesso. Fique à vontade para enviar quantas legendas desejar.
</div>

<% elsif flash[:error] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
  Desculpe-nos! Um erro interno impediu o upload da sua legenda. Por favor, tente novamente.
</div>
<% end #if flash[:success] %>

<%#= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:name => 'Upload de Legenda'}], :url => '/'} %>

<form role="form" accept-charset="UTF-8" action="/upload" class="form-info" enctype="multipart/form-data" method="post">
	<input type="hidden" name="file">
	<div class="panel panel-default">
        <div class="panel-heading">
    		<h1 class="panel-title">Upload de Legenda</h1>
        </div>
        <div class="panel-body">
            <p>Compartilhar novas legendas é muito simples! Arraste um arquivo de legenda e preencha os dados que faltarem. Você também pode usar o modo turbo e arrastar várias legendas ao mesmo tempo.</p>
    		<div class="row">
    			<div class="col-sm-4">
    			    <div class="panel panel-default upload-container text-center" id="upload-dialog">
    			        <div class="panel-body">
    			            <object data="/assets/cloud.svg" type="image/svg+xml" id="cloud"></object>
    			            <div class="upload-dialog">
    			                <h6><strong>Arraste e solte aqui as legendas que você deseja compartilhar!</strong></h6>
    			            </div>
    			        </div>
    			    </div>
    			</div>

    			<div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <fieldset class="col-sm-7">
                                    <div class="form-group">
                                        <label for="release">Nome do release</label>
                                        <textarea rows="1" required="required" id="release" name="release[name]" class="form-control" data-title="Você pode adicionar mais de um release para essa legenda, um por linha." data-container="body" data-trigger="focus" data-delay='{"show": 2000, "hide": 0}' data-placement="right"><%= params[:release] && params[:release][:name] %></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" required="required" name="type" id="type-tv-show" value="tv_show" <% if params[:type] == 'tv_show' then %>checked<% end %>>
                                            Série
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" required="required" name="type" id="type-movie" value="movie" <% if params[:type] == 'movie' then %>checked<% end %>>
                                            Filme
                                        </label>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="name">Nome do filme ou série</label>
                                                <input type="text" required="required" id="name" name="media[name]" class="form-control" value="<%= params[:media] && params[:media][:name] %>">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="year">Ano</label>
                                                <input maxlength="4" type="number" min="1800" max="2100" id="year" name="media[year]" class="form-control text-right" value="<%= params[:media] && params[:media][:year] %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row tv-show-only">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="add-on" for="season">Temporada</label>
                                                <input id="season" name="episode[season]" required="required" type="number" min="0" class="form-control" value="<%= ( params[:episode] && params[:episode][:season] ) || params[:season] %>">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="add-on" for="episode">Episódio</label>
                                                <input id="episode" name="episode[number]" required="required" type="number" min="0" class="form-control" value="<%= ( params[:episode] && params[:episode][:number] ) || params[:number] %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="imdb-id" required="required">URL no <a href="http://imdb.com" target="_blank">IMDB</a></label>
                                        <div>
                                            <input type="url" data-trigger="change" data-regexp=".*tt\d+.*" name="media[imdb_id]" id="imdb-id" class="form-control" placeholder="http://www.imdb.com/title/"<% if params[:imdb_id] then %> value="http://www.imdb.com/title/<%= params[:imdb_id] %>"<% end %>>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="description" style="display:block">Descrição <small class="muted pull-right"><small><a href="http://daringfireball.net/projects/markdown/basics" target="markdown">Markdown</a> é permitido aqui</small></small></label>
                                        <textarea name="subtitle[description]" id="description" rows="5" class="form-control expandable"><%= params[:subtitle] && params[:subtitle][:description] %></textarea>
                                    </div>

                                    <button class="btn btn-large btn-block btn-primary" type="submit" disabled>Compartilhar Legenda</button>
                                </fieldset>
                                <div class="col-sm-5 item-info text-center" style="display:none">

                                </div>
                            </div>
                        </div>
                    </div>
    			</div>
    		</div>
        </div>
    </div>
</form>
