html {
	background: url(http://img.legendas.de/home-bg.jpg) no-repeat right 45px, url(http://img.legendas.de/home-bg-bg.png) repeat-x 0 45px}

body {
	background: transparent;
}

/* Home Search Box */
.search {
	background: rgba(255, 255, 255, .7);
	height: 66px;
	margin: 40px 6% 55px;
	padding: 0 7px 0 17px;
	border-radius: 35px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(130, 130, 130, 0.3) inset;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(130, 130, 130, 0.3) inset;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(130, 130, 130, 0.3) inset;
}
.search input {
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 1.5em;
	outline: none;
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
}
.search input, .search button {
	width: 100%;
	height: 46px;
	margin: 10px 2px;
}
.search button {
	border-radius: 30px;
	color: #EEE;
	font-size: 1.8em;
	font-weight: bold;
	border: none;
	background-color: #FF7027;
	background-image: -webkit-gradient(linear, center bottom, center top, from(#FF7027 45%), to(#FF942F));
	background-image: -webkit-linear-gradient(bottom, #FF7027 45%, #FF942F);
	background-image: -moz-linear-gradient(bottom, #FF7027 45%, #FF942F);
	background-image: -o-linear-gradient(bottom, #FF7027 45%, #FF942F);
	background-image: -ms-linear-gradient(bottom, #FF7027 45%, #FF942F);
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.23), 0 -1px 2px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.23), 0 -1px 2px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.23), 0 -1px 2px rgba(0, 0, 0, 0.3) inset;
	text-shadow: 1px 1px 0 #FF241B;
}
.search input::-webkit-input-placeholder {
	color: rgb(85, 85, 85);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	line-height:24px
}