
.production-list li {
	height: 300px;
}

.production-list .poster {
	position:relative;
}

.production-list .span1:nth-child(12n+1),
.production-list .span2:nth-child(6n+1),
.production-list .span3:nth-child(4n+1),
.production-list .span4:nth-child(3n+1),
.production-list .span6:nth-child(2n+1) {
	margin-left: 0;
}

.badge-episode {
	font-size: 1em;
	position: absolute;
	top: 80%;
	right:-10px;
}

.media .box {height:340px;}

/* Large desktop */
@media (min-width: 1200px) {
	
	.production-list .poster {
		width: 160px;
		height: 240px;
	}
	
	.production-list .poster img {
		max-width: 160px;
		max-height: 240px;
	}

}

@media (min-width: 980px) and (max-width: 1199px) {
	
	.production-list .poster {
		width: 135px;
		height: 203px;
	}
	
	.production-list .poster img {
		max-width: 135px;
		max-height: 203px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	.production-list .poster {
		width: 99px;
		height: 149px;
	}
	
	.production-list .poster img {
		max-width: 99px;
		max-height: 149px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.production-list li {
		width: 160px!important;
		margin: 0 auto!important;
	}


	.production-list .poster {
		width: 160px!important;
		height: 240px;
	}
	
	.production-list .poster img {
		max-width: 160px;
		max-height: 240px;
	}
	
	.see-all {
		float: none;
		margin-top: 15px;
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
	.production-list .poster {
		width: 160px;
		height: 240px;
		margin: 0 auto;
	}
	
	.production-list .poster img {
		max-width: 160px;
		max-height: 240px;
	}
}