.box.subtitles {
	overflow: hidden;
	padding: 0;
	height: 370px;
	border-width: 0;
	background-color: #F9932A;
}
.box.subtitles ul {
	margin: 0;
	list-style-type: none;
}

.subtitles-list {
	overflow-y:auto;
	height: 320px;
}

.subtitles-list .progress {
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subtitles-list>p {
	text-align:center;
	background: url(/img/logo_inner.svg) no-repeat center top;
	margin-top:10px;
	padding:240px 15px 0;
	font-size: 1.5em;
	color:rgb(162, 92, 21);
	font-weight:bold;
}

.box.subtitles li {
	padding:0 15px;
	border-bottom: 1px solid #DC7B1D;
	height: 50px;
	overflow: hidden;
}
.box.subtitles a {
	display:block;
	color: #fff;
	text-decoration: none;
	line-height: 50px;
	font-weight: bold;
	word-wrap: break-word;
}

.send-subtitle a {
	border-top: 1px solid #DC7B1D;
	border-bottom: 0;
	background-color: #E97B13;
	text-align: center
}

.media .box {
	position: relative;
	border: 0;
	background-size: cover;
}

.media h1 {
	color:#fff;
}

.media .section {
	overflow:scroll;
	height: 286px;
	text-align: center;
}
.media .title {
	position: absolute;
	bottom: 15px;
	left: 0;
	overflow:hidden;
	max-width: 100%;
	max-height:330px;
}

.media .title.with-cover h1 {
	padding-left: 255px;
}

.media h1 {
	overflow: hidden;
	padding: 10px 55px 10px 15px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 59%, rgba(0,0,0,0.2) 82%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.6)), color-stop(59%,rgba(0,0,0,0.4)), color-stop(82%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 59%,rgba(0,0,0,0.2) 82%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 59%,rgba(0,0,0,0.2) 82%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 59%,rgba(0,0,0,0.2) 82%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 59%,rgba(0,0,0,0.2) 82%,rgba(0,0,0,0) 100%); /* W3C */
	text-overflow: ellipsis;
	font-weight: normal;
	font-size:25px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.media img {
	position: absolute;
	bottom: -80px;
	float:left;
	width: 215px;
}

.media .info {
	margin-top: 10px;
}

.media .info.with-cover {
	padding-left: 255px;
	height:75px;
}

.latest-episode {
	height:339px;	
}

.latest-episode .h4 {
	padding: 15px 0;
}

.thumbnail h6 {
	padding-top: 5px;
}

.episode .thumbnail {
	height: 190px;
	border:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
h6 + .subheading {
	margin-top: -0.8em;
}
.episode h6, .episode h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.subtitles-list, .box.subtitles {
		overflow: inherit;
		height: auto;
	}
	
	.description .divider-right {
		margin-right: 0;
		border-right: 0;
		min-height: 90px;
	}
	
	.description .fb {
		width: auto
	}
	
	.media .box {
		height: auto;
		background: none !important;
		box-shadow: none;
		padding: 0 !important;
	}
	
	.media .title {
		position: static
	}
	
	.media h1 {
		background: none;
		color: #666;
		padding-left:0 !important;
		padding-right: 0;
	}
	
	.media img {
		position: static;
		float: none;
	}
	
	.media .info.with-cover {
		padding-left: 0;
		height: auto;
	}
	
}
