.upload-container {
	background: #fbfbfb;
	text-align:center;
	word-wrap: break-word;
	padding: 40px 15px;
}

.upload-container h6 {
	/* workaround to make cloud <object> out of the way for js events */
	padding-top: 70px;
	margin-top: -80px;
	position: relative;
	/* end workaround to make cloud <object> out of the way for js events */
	margin-bottom:50px;
}

.upload-container h6 strong {
	color: #37a5bf;	
}

#description {
	height: 70px;
	-webkit-transition: height .5s ease-in-out !important;
    -moz-transition: height .5s ease-in-out !important;
    -o-transition: height .5s ease-in-out !important;
    transition: height .5s ease-in-out !important;
}

#description:focus {
	height: 300px
}

@media (max-width: 1200px) {
	
	#episode, #season {
		width: 40px
	}
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	#episode, #season {
		width: 30px
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.pull-right.text-right {
		text-align:left;
	}
	
	#episode, #season {
		width: auto;
	}
	
	.upload-container {
		margin-bottom: 17px
	}
	
	.item-info {
		margin-top: 17px
	}
	
}