<% content_for :css do %><%= stylesheet_link_tag 'list' %><% end %>
<% content_for :title do %>de Filmes (<%= params[:page] || 1 %> de <%= @movies.total_pages %>)<% end %>
<% content_for :description do %>Todos os filmes para você baixar as legendas.<% end %>
<% content_for :keywords do %>filmes, movies, all, todos<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'production-all' %>
<% end %>

<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:name => 'Todos os Filmes'}], :url => @canonical} %>

<section class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-8">
					<h1 class="panel-title">Todos os Filmes</h1>
				</div>
				<div class="col-sm-4 text-right hidden-xs">
					<form action="<%= url_for :controller => 'application', :action => 'search' %>" role="form">
						<input class="form-control" type="text" name="q" value="<%= params[:q] || params[:name] %>" placeholder="Buscar filmes">
						<input type="hidden" name="type" value="movie">
					</form>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<%= render :partial => 'layouts/list', :locals=> {:list => @movies} %>
		</div>
	</div>
</section>
