<% content_for :css do %><%= stylesheet_link_tag 'production-show' %><% end %>
<% content_for :title do %>de <%= @movie.name %><% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'production-show' %>
<% end %>
<% content_for :og_title do %><%= @movie.name %><% if @movie.year then %> (<%= @movie.year %>)<% end %><% end %>
<% content_for :description do %>Faça download das legendas do filme <%= @movie.name %><% if @movie.year then %> (<%= @movie.year %>)<% end %>.<% end %>
<% content_for :og_description do %><%= @movie.description %><% end %>
<% content_for :keywords do %>filme, movie, <%= @movie.name.split.join ', ' %><% if !@movie.genre.blank? then %>, <%= @movie.genre %><% end %><% if @movie.year then %>, <%= @movie.year %><% end %><% end %>
<% content_for :og_type do %>video.movie<% end %>
<% unless @poster.blank? then %><% content_for :main_image do %><%= @poster.media_path %><% end %><% end %>
<% content_for :meta do %>
	<% if @movie.updated_at then %><meta property="og:updated_time" content="<%= @movie.updated_at.iso8601 %>"><% end %>
	<% if @movie.release_date then %><meta property="video:release_date" content="<%= @movie.release_date.iso8601 %>"><% end %>
	<% if !@movie.genre.blank? then %><meta property="video:tag" content="<%= @movie.genre %>"><% end %>
<% end %>
<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:url => '/filmes', :name => 'Filmes'}, {:name => @movie.name}], :url => @canonical} %>

<div itemscope itemtype="http://schema.org/Movie">
	<div class="row">
		<div class="col-md-8 clearfix">
			<div class="panel panel-media"<% unless @backdrop.blank? then %> style="background-image: url(<%= @backdrop.media_path '770x370' %>)"<% end %>>
				<div class="title<% unless @poster.blank? then %> with-cover<% end %>">
					<h1 title="<%= @movie.name %>" itemprop="name"><%= @movie.name %></h1>
				</div>
			</div>
			<% unless @poster.blank? %>
				<%= image_tag @poster.media_path('215'), width: 215, alt: @movie.name + ' poster', itemprop: 'image', class: 'cover img-thumbnail' %>
			<% end %>
			<div class="info<% unless @poster.blank? then %> with-cover<% end %>">
				<% if @movie.year then %><p><strong>Ano de lançamento:</strong> <%= @movie.year %><% if @movie.release_date then %><meta itemprop="datePublished" content="<%= @movie.release_date.iso8601 %>"><% end %></p><% end %>
				<% if !@movie.rating.nil? then %>
				<p itemprop="rating" itemscope itemtype="http://schema.org/Rating"><strong>Nota no IMDB:</strong> <span itemprop="value"><%= @movie.rating %></span><meta itemprop="best" content="10"><meta itemprop="worst" content="0"></p>
				<% end #if @movie.rating > 0 %>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default panel-media-action panel-subtitles<% if @movie.releases.empty? then %> empty<% end %>">
				<div class="panel-body<% if !@movie.releases.empty? then %> for-list<% end %>">
					<% if @movie.releases.empty? then %>
					<div class="subtitles-list" data-id="<%= @movie.imdb_id %>" data-type="filme">
						<p>Ainda não temos a legenda que você procura</p>
					</div>
					<% else %>
					<div class="subtitles-list">
						<ul class="list-unstyled">
							<%= render @movie.releases %>
						</ul>
					</div>
					<% end %>
				</div>
				<div class="progress hidden">
					<div class="progress-bar progress-bar-striped progress-bar-warning active" style="width: 100%;"></div>
				</div>
				<footer class="panel-footer text-center">
					<a href="<%= url_for :controller => :subtitles, :action => :upload, :imdb_id => @movie.imdb_id %>">Enviar uma legenda<span class="hidden-sm"> para este filme</span></a>
				</footer>
			</div>
		</div>
	</div>

	<%= render :partial => 'layouts/description', :locals => {:description => @movie.description} %>
</div>

<%= render :partial => 'layouts/comments', :locals => {:url => @canonical} %>
