<% content_for :css do %><%= stylesheet_link_tag 'list' %><% end %>
<% content_for :title do %>de Séries (<%= params[:page] || 1 %> de <%= @tv_shows.total_pages %>)<% end %>
<% content_for :description do %>Todas as séries para você baixar as legendas.<% end %>
<% content_for :keywords do %>séries, tv shoes, TV, todas, all<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'production-all' %>
<% end %>

<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:name => 'Todas as Séries'}], :url => @canonical} %>

<section class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-8">
					<h1 class="panel-title">Todas as Séries</h1>
				</div>
				<div class="col-sm-4 text-right hidden-xs">
					<form action="<%= url_for :controller => 'application', :action => 'search' %>" role="form">
						<input class="form-control" type="text" name="q" value="<%= params[:q] || params[:name] %>" placeholder="Buscar séries">
						<input type="hidden" name="type" value="tv_show">
					</form>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<%= render :partial => 'layouts/list', :locals=> {:list => @tv_shows} %>
		</div>
	</div>
</section>
