<% content_for :css do %><%= stylesheet_link_tag 'production-show' %><% end %>
<% content_for :title do %>de <%= @tv_show.name %><% if @tv_show.year then %> (<%= @tv_show.year %>)<% end %><% end %>
<% content_for :og_title do %><%= @tv_show.name %><% if @tv_show.year then %> (<%= @tv_show.year %>)<% end %><% end %>
<% content_for :description do %>Faça download das legendas de todas as temporadas da série de TV <%= @tv_show.name %><% if @tv_show.year then %> (<%= @tv_show.year %>)<% end %>.<% end %>
<% content_for :og_description do %><%= @tv_show.description %><% end %>
<% content_for :keywords do %>tv show, série, TV, <%= @tv_show.name.split.join ', ' %><% if !@tv_show.genre.blank? then %>, <%= @tv_show.genre %><% end %><% if @tv_show.year then %>, <%= @tv_show.year %><% end %><% end %>
<% content_for :og_type do %>video.tv_show<% end %>
<% unless @poster.blank? then %><% content_for :main_image do %><%= @poster.media_path %><% end %><% end %>
<% content_for :meta do %>
	<% if @tv_show.updated_at then %><meta property="og:updated_time" content="<%= @tv_show.updated_at.iso8601 %>"><% end %>
	<% if @tv_show.release_date then %><meta property="video:release_date" content="<%= @tv_show.release_date.iso8601 %>"><% end %>
	<% if @tv_show.runtime then %><meta property="video:duration" content="<%= @tv_show.runtime * 60 %>"><% end %>
	<% if !@tv_show.genre.blank? then %><meta property="video:tag" content="<%= @tv_show.genre %>"><% end %>
<% end %>

<% content_for :meta do %>
<% if !@poster.blank? then %><meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{@poster.media_path '215'}" %>"><% end %>
<% end %>

<% content_for :script do %>
	<%= javascript_include_tag 'base' %>
<% end %>

<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:url => '/series', :name => 'Séries'}, {:name => @tv_show.name}], :url => @canonical} %>

<div itemscope itemtype="http://schema.org/TVSeries">
	<div class="row">
		<div class="col-sm-8 clearfix">
			<div class="panel panel-media"<% unless @backdrop.blank? then %> style="background-image: url(<%= @backdrop.media_path '770x370' %>)"<% end %>>
				<div class="title<% unless @poster.blank? then %> with-cover<% end %>">
					<h1 title="<%= @tv_show.name %>" itemprop="name"><%= @tv_show.name %></h1>
				</div>
			</div>
			<% unless @poster.blank? %>
				<%= image_tag @poster.media_path('215'), width: 215, class: 'cover img-thumbnail', itemprop: 'image', alt: @tv_show.name + ' poster' %>
			<% end %>
			<div class="info<% unless @poster.blank? then %> with-cover<% end %>">
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default panel-media-action">
				<% if !@episode.blank? then %>
				<header class="panel-heading">
					<h2 class="h3 panel-title small">Último Episódio</h2>
				</header>
				<div class="panel-body">
					<%= render :partial => 'layouts/episode', :locals => {:episode => @episode, :big => true} %>
				</div>
				<footer class="panel-footer text-right">
					<hr>
					<small><a href="#episodios">Mais episódios &raquo;</a></small>
				</footer>
				<% end #if !@episodes.blank? %>
			</div>
		</div>
	</div>

	<%= render :partial => 'layouts/description', :locals => {:description => @tv_show.description} %>

	<% if !@seasons.blank? then %>
	<section class="panel panel-default">
		<div class="panel-body" id="episodios">
			<h2 class="panel-title small">Episódios</h2>
			<% @seasons.each_pair do |season, episodes| %>
			<section class="clearfix" itemprop="season" itemscope itemtype="http://schema.org/TVSeason">
				<h3 itemprop="name"><% if season != '0' then %>Temporada <%= season %><% else %>Especiais<% end %></h3>
				<div class="row-fluid">
					<% episodes.each_with_index do |episode, index| %>
					<div class="col-sm-4 col-md-3" itemscope itemtype="http://schema.org/TVEpisode">
						<%= render :partial => 'layouts/episode', :locals => {:episode => episode} %>
					</div>
					<% if (index + 1) % 3 == 0 then %>
					<div class="clearfix visible-sm-block"></div>
					<% end %>
					<% if (index + 1) % 4 == 0 then %>
					<div class="clearfix visible-md-block visible-lg-block"></div>
					<% end %>
					<% end #episodes.each %>
				</div>
			</section>
			<% end #@seasons.each_with_index %>
		</div>
	</section>
	<% end #if !@episodes.empty? %>
</div>

<%= render :partial => 'layouts/comments', :locals => {:url => (url_for @canonical)} %>
