<% content_for :css do %><%= stylesheet_link_tag 'production-show' %><% end %>
<% content_for :title do %>de <%= @episode.to_s :long %><% end %>
<% content_for :og_title do %><%= @episode.to_s :long %><% end %>
<% content_for :description do %>Baixe as legendas da série de TV <%= @episode.tv_show.name %>, temporada <%= @episode.season %>, episódio <%= @episode.number %><% if @episode.name then %>: <%= @episode.name %><% end %>.<% end %>
<% content_for :og_description do %><%= @episode.description || @episode.tv_show.description %><% end %>
<% content_for :keywords do %>tv show, episode, série, episódio, TV, <%= @episode.tv_show.name %>, <%= @episode.hierarchy %><% if @episode.name then %>, <%= @episode.name.split.join ', ' %><% end %><% if !@episode.tv_show.genre.blank? then %>, <%= @episode.tv_show.genre %><% end %><% end %>
<% content_for :og_type do %>video.episode<% end %>
<% if !@episode.thumb_path.nil? then %><% content_for :main_image do %><%= "#{request.protocol}#{request.host_with_port}#{@episode.thumb_path}" %><% end %><% end %>
<% content_for :meta do %>
	<% if @episode.updated_at then %><meta property="og:updated_time" content="<%= @episode.updated_at.iso8601 %>"><% end %>
	<% if @episode.tv_show.name then %><meta property="video:series" content="<%= @episode.tv_show.name %><% if @episode.tv_show.year then %> (<%= @episode.tv_show.year %>)<% end %>"><% end %>
	<% if @episode.tv_show.runtime then %><meta property="video:duration" content="<%= @episode.tv_show.runtime * 60 %>"><% end %>
	<% if @episode.release_date then %><meta property="video:release_date" content="<%= @episode.release_date.iso8601 %>"><% end %>
	<% if !@episode.tv_show.genre.blank? then %><meta property="video:tag" content="<%= @episode.tv_show.genre %>"><% end %>
<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'production-show' %>
<% end %>
<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:url => '/series', :name => 'Séries'}, {:url => url_for( @tv_show ), :name => @tv_show.name}, {:name => @episode}], :url => @canonical} %>

<div itemscope itemtype="http://schema.org/TVEpisode">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-media"<% unless @backdrop.blank? then %> style="background-image: url(<%= @backdrop %>)"<% end %>>
				<div class="title">
					<h1>
						<%= @tv_show.name %> <%= @episode %>
						<meta itemprop="partOfSeason" content="<%= @episode.season %>">
						<meta itemprop="episodeNumber" content="<%= @episode.number %>">
						<meta itemprop="name" content="<%= @episode.name %>">
					</h1>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default panel-media-action panel-subtitles<% if @episode.releases.blank? then %> empty<% end %>">
				<div class="panel-body<% if !@episode.releases.empty? then %> for-list<% end %>">
					<% if @episode.releases.blank? then %>
					<div class="subtitles-list" data-id="<%= @episode.imdb_id %>" data-type="episodio">

						<p>Ainda não temos a legenda que você procura</p>

					</div>
					<% else %>
					<div class="subtitles-list">
						<ul class="list-unstyled">
							<%= render @episode.releases %>
						</ul>
					</div>
					<% end %>
				</div>
				<div class="progress hidden">
					<div class="progress-bar progress-bar-striped progress-bar-warning active" style="width: 100%;"></div>
				</div>
				<footer class="panel-footer text-center">
					<a href="<%= url_for :controller => :subtitles, :action => :upload, :imdb_id => @episode.tv_show.imdb_id, :season => @episode.season, :number => @episode.number %>">Enviar uma legenda<span class="hidden-sm"> para este episódio</span></a>
				</footer>
			</div>
		</div>
	</div>

	<%= render :partial => 'layouts/description', :locals => {:description => @episode.description, :date => @episode.release_date} %>

	<% if @previous or @next then %>
	<section class="episodes-control clearfix">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="h3 panel-title small">Episódio Anterior</h2>
					</div>
					<div class="panel-body">
						<% if @previous then %>
						<%= render :partial => 'layouts/episode', :locals => {:episode => @previous, :big => true} %>
						<% else %>
						<div class="thumbnail text-center-xs">
							<%= image_tag('episode-poster-bg.svg', alt: 'Episódio não disponível', class: 'img-responsive') %>
							<h3 class="h4">Episódio não disponível</h3>
						</div>
						<% end #if @previous %>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="h3 panel-title small">Próximo Episódio</h2>
					</div>
					<div class="panel-body">
						<% if @next then %>
						<%= render :partial => 'layouts/episode', :locals => {:episode => @next, :big => true} %>
						<% else %>
						<div class="thumbnail text-center-xs">
							<%= image_tag('episode-poster-bg.svg', alt: 'Episódio não disponível', class: 'img-responsive') %>
							<h3 class="h4">Episódio não disponível</h3>
						</div>
						<% end #if @next %>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default" itemprop="partOfTVSeries" itemscope itemtype="http://schema.org/TVSeries">
					<div class="panel-heading">
						<h2 class="h3 panel-title small">Toda a Série</h2>
					</div>
					<div class="panel-body">
						<%= link_to @tv_show.tv_show_path, class: 'thumbnail text-center-xs' do %>
							<% media = @tv_show.medias.select {|media| media.media_type == 'backdrop'}.sample %>
							<% if !media.nil? then %>
							<%= image_tag('episode-poster-bg.svg', alt: @tv_show.name, class: 'img-responsive', data: {src: media.media_path('338x190')}) %>
							<meta itemprop="image" content="<%= media.media_path '338x190' %>">
							<% else %>
							<%= image_tag('episode-poster-bg.svg', alt: @tv_show.name, class: 'img-responsive') %>
							<% end %>
							<h3 class="h4" itemprop="name"><%= @tv_show.name %></h3>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<% end #if @previous or @next %>
</div>

<%= render :partial => 'layouts/comments', :locals => {:url => @canonical} %>
<iframe name="download-target" class="hidden"></iframe>
