//
// Home page
// --------------------------------------------------

//= depend_on "baixarlegendas-theme/modules/base.less"
//= depend_on "baixarlegendas-theme/modules/lists.less"

@import "modules/base.less";
@import "modules/lists.less";

html {
	background: url(http://img.legendas.de/home-bg.jpg) no-repeat right 45px,
				 url(http://img.legendas.de/home-bg-bg.png) repeat-x 0 45px
}

@media (max-width: @screen-xs-max) {
	html {
		background: none!important;
	}
}

body {
	background: transparent
}

.main-search {
	margin: 40px 6% 55px;
	background: rgba(255,255,255,.7);
	border-radius: 35px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1),0 2px 2px rgba(130,130,130,0.3) inset;

	input {
		font-weight: bold;
		color: #555;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		font-size: 1.5em;
		outline: none;
		border: 0;
		padding: 0;
		margin: 0;
		background: none;
		width: 100%;
		height: 46px;
		margin: 10px 2px;
		line-height: initial;

		&::-webkit-input-placeholder {
			color: #555;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			line-height: 24px
		}

		&::-moz-placeholder {
			color: #555;
			opacity: 1;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		}

		&::-ms-input-placeholder {
			color: #555;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		}

		&:extend(button);
	}

	button {
		width: 100%;
		height: 46px;
		margin: 10px 2px;
		border-radius: 30px;
		color: #EEE;
		font-size: 1.8em;
		font-weight: bold;
		border: none;
		background-color: #FF7027;
		background-image: -webkit-gradient(linear,center bottom,center top,from(#FF7027 45%),to(#FF942F));
		background-image: -webkit-linear-gradient(bottom,#FF7027 45%,#FF942F);
		background-image: -moz-linear-gradient(bottom,#FF7027 45%,#FF942F);
		background-image: -o-linear-gradient(bottom,#FF7027 45%,#FF942F);
		background-image: -ms-linear-gradient(bottom,#FF7027 45%,#FF942F);
		box-shadow: 0 1px 2px 1px rgba(0,0,0,0.23),0 -1px 2px rgba(0,0,0,0.3) inset;
		text-shadow: 1px 1px 0 #FF241B;

		&:focus {
			outline: none;
		}

		&:active {
			background-image: -webkit-gradient(linear,center bottom,center top,from(#FF942F 45%),to(#FF7027));
			background-image: -webkit-linear-gradient(bottom,#FF942F 45%,#FF7027);
			background-image: -moz-linear-gradient(bottom,#FF942F 45%,#FF7027);
			background-image: -o-linear-gradient(bottom,#FF942F 45%,#FF7027);
			background-image: -ms-linear-gradient(bottom,#FF942F 45%,#FF7027);
		}
	}
}
