//
// Production - Show
// --------------------------------------------------

//= depend_on "baixarlegendas-theme/modules/base.less"
//= depend_on "baixarlegendas-theme/modules/breadcrumbs.less"
//= depend_on "baixarlegendas-theme/modules/progress-bars.less"

@import "modules/base.less";
@import "modules/breadcrumbs.less";
@import "modules/progress-bars.less";

.panel-subtitles {
	background-color: @subtitles-list-bg;

	a {
		color: #fff;
		font-weight: bold;
		padding: 10px 0;
		word-wrap: break-word;
		display:block;

	}

	.panel-body {

		&.for-list {
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.empty p {
		text-align: center;
		background: url(/assets/logo_inner.svg) no-repeat center top;
		margin-top: 10px;
		padding: 222px 15px 0;
		font-size: 1.1em;
		color: @subtitles-list-text-dark;
		font-weight: bold;
		line-height: 1.1em;
	}

	.progress {
		height: 5px;
		border-radius: 0;
		margin: -5px 0 0;
	}

	.panel-footer {
		background-color: @subtitles-list-footer-bg;
		border-top: 1px solid @subtitles-list-border-color;
	}
}

.subtitles-list {

	li {
		border-bottom: 1px solid @subtitles-list-border-color;
		height: 50px;
		overflow: hidden;
	}

	a {
		line-height: 50px;
		padding: 0 15px;

		&:hover {
			background-color: @subtitles-list-footer-bg;
		}
	}
}

.info {
	margin-bottom: 20px;
	display: inline-block;
}

img.cover {
	border-radius: 0;
	margin-bottom:20px;
	.box-shadow(0 1px 1px rgba(0,0,0,.05));
}

.panel-media-action {
	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.thumbnail {
		margin-bottom: 0;
	}
}

@media (max-width: @screen-xs-max) {
	.panel-media {
		background: none!important;
		box-shadow: none;
	}

	.cover {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

@media (min-width: @screen-sm-min) {

	img.cover {
		margin: -250px 10px 20px 15px;
		float: left;
	}

	.panel-media {
		height: 370px;
		background-position: -1px;
		background-color: @gray-lighter;

		.title {
			overflow: hidden;
			max-width: 100%;
			max-height: 330px;
			float: left;
			padding: 10px 55px 10px 15px;
			background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 59%, rgba(0,0,0,0.2) 82%, transparent 100%);
			margin-top: 295px;

			&.with-cover {
				padding-left: 240px;
			}

			> * {
				text-overflow: ellipsis;
				font-weight: normal;
				font-size: 25px;
				color: #fff;
				margin: 0;
			}
		}
	}

	.episodes-control .panel {
		min-height: 247px
	}
}

@media (min-width: @screen-md-min) {
	.panel-subtitles .panel-body {
		height: 307px;
	}

	.panel-media-action {
		height: 370px;

		.panel-body {
			overflow: hidden;
		}
	}

	.subtitles-list {
		overflow-y: auto;
		max-height: 307px;
	}

	.episodes-control .panel {
		min-height: 325px
	}
}
