//
// Download
// --------------------------------------------------

//= depend_on "baixarlegendas-theme/modules/base.less"
//= depend_on "baixarlegendas-theme/modules/alerts.less"
//= depend_on "baixarlegendas-theme/modules/close.less"
//= depend_on "baixarlegendas-theme/modules/tooltip.less"

@import "modules/base.less";
@import "modules/alerts.less";
@import "modules/close.less";
@import "modules/tooltip.less";

textarea.expandable {
	height: 70px;
	transition: height .15s ease-in;

	&:focus,
	&.expanded {
		height: 300px;
	}
}

.upload-container {
	background-color: @gray-lighter;
	word-wrap: break-word;

	h6 {
		margin-bottom: 40px;
	}
}

#cloud {
	margin-bottom: 40px;
	margin-top: 40px;
}
