<% content_for :css do %><%= stylesheet_link_tag 'download' %><% end %>
<% content_for :title do %>para <%= @subtitle.release %><% end %>
<% content_for :og_title do %><%= @subtitle.release %><% end %>
<% content_for :description do %>Faça download da legenda <%= @subtitle.release %>.srt para o <% if @isMovie %>filme <%= @production %><% else %>episódio <%= @production %> da série <%= @production.tv_show %><% end %>.<% end %>
<% content_for :keywords do %>download, baixar, legenda, <%= @subtitle.release %>, srt<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'lightweight' %>
	<script>
		$(function() {
			ga('send', 'event', 'Subtitles', 'Download Page', window.location.href);
		});
	</script>
<% end %>

<% if @production.class.name == 'Movie' %>
<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:url => '/filmes', :name => 'Filmes'}, {:url => url_for( @production ), :name => @production.name}, {:name => @subtitle.release}], :url => @canonical} %>
<% else %>
<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:url => '/series', :name => 'Séries'}, {:url => @production.tv_show.path, :name => @production.tv_show}, {:url => @production.path, :name => @production}, {:name => @subtitle.release}], :url => @canonical} %>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="h1 panel-title">Download de Legenda</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4 col-sm-push-8">
				<div class="panel panel-default">
					<% if @production.class.name == 'Movie'
							backdrop = @production.medias.select {|media| media.media_type == 'backdrop'}.sample if !@production.medias.empty?
					%>
					<div itemscope itemtype="http://schema.org/Movie">
						<div class="panel-heading">
							<h2 class="panel-title small">
								<a href="<%= url_for @production %>">
									<span itemprop="name"><%= @production %></span>
									<% unless @production.year.blank? %><span class="muted">(<%= @production.year %>)</span><% end %>
									<% if @production.release_date %>
									<meta itemprop="datePublished" content="<%= @production.release_date.iso8601 %>">
									<% end %>
								</a>
							</h2>
						</div>
						<div class="panel-body">
							<a href="<%= url_for @production %>">
								<% unless backdrop.blank? %>
								<%= image_tag backdrop.media_path('338x190'), class: 'img-responsive', alt: @production, itemprop: 'image' %>
								<% else %>
								<%= image_tag 'episode-poster-bg.svg', class: 'img-responsive', alt: @production %>
								<% end %>
							</a>
						</div>
					</div>
					<% else %>
					<div itemscope itemtype="http://schema.org/TVEpisode">
						<div class="panel-heading">
							<h2 class="panel-title small"><%= link_to @production.tv_show, @production.tv_show.path %></h2>
						</div>
						<div class="panel-body">
							<%= render :partial => 'layouts/episode', :locals => {:episode => @production, :big => true} %>
						</div>
					</div>
					<% end #@production.class.name == 'Movie' %>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title small">Informações</h2>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li><strong>Idioma:</strong> Português</li>
							<li><strong>Enviada há:</strong> <%= distance_of_time_in_words_to_now @subtitle.created_at %></li>
							<% if @subtitle.updated_at > @subtitle.created_at %>
							<li><strong>Modificada há:</strong> <%= distance_of_time_in_words_to_now @subtitle.updated_at %></li>
							<% end %>
							<% if @download_count > 0 %><li><strong>Downloads:</strong> <%= number_to_human @download_count %></li><% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-4">
				<div class="panel panel-default text-center">
					<h1 class="h2 text-info text-wrap"><%= link_to( @subtitle.release, @subtitle.subtitle_path, {:title => "Baixar legenda de #{@subtitle.release.name}", 'data-ping' => @subtitle.id, 'target' => 'download-target'} ) %></h1>
					<div class="panel-body">
						<a href="<%= url_for @subtitle.subtitle_path %>" title="Baixar legenda de <%= @subtitle.release.name %>" class="btn btn-primary btn-large btn-block" data-ping="<%= @subtitle.id %>" target="download-target"><%= image_tag 'baixar-legenda-call-to-action.svg', alt: 'baixar legenda', width: 160 %></a>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title small">Achou a legenda que você estava procurando?</h2>
					</div>
					<div class="panel-body">
						<iframe src="//www.facebook.com/plugins/likebox.php?locale=pt_BR&amp;href=https%3A%2F%2Fwww.facebook.com%2FBaixarLegendas&amp;width=720&amp;height=300&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=116962761823350" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:255px;" allowTransparency="true"></iframe>
					</div>
				</div>

				<% unless true || @subtitle.description.blank? %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title small">Descrição</h2>
					</div>
					<div class="panel-body">
						<%= markdown @subtitle.description %>
					</div>
				</div>
				<% end #unless @subtitle.description.blank? %>

				<div class="panel panel-default hidden-xs">
					<div class="panel-heading">
						<h2 class="panel-title small">Conteúdo</h2>
					</div>
					<div class="panel-body">
						<div style="height: 300px; overflow-y: scroll">
							<table class="table table-hover">
								<thead>
									<tr>
										<th width="15%">início</th>
										<th width="15%">fim</th>
										<th>texto</th>
									</tr>
								</thead>
								<tbody>
								<% @subtitle_lines.each do |line| next if line.start_time.blank? || line.end_time.blank? %>
									<tr>
										<td><%= sprintf("%02d:%02d:%02d,%s", line.start_time / 3600, (line.start_time % 3600) / 60, line.start_time % 60, sprintf("%.3f", line.start_time)[-3, 3]) %></td>
										<td><%= sprintf("%02d:%02d:%02d,%s", line.end_time / 3600, (line.end_time % 3600) / 60, line.end_time % 60, sprintf("%.3f", line.end_time)[-3, 3]) %></td>
										<td><%= line.text.map{|t| h(t)}.join( '</br>' ).html_safe %></td>
									</tr>
								<% end #@subtitle_lines.each %>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<% if @production.releases.length > 1 %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title small">Outros Releases</h2>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
						<% @production.releases.reject {|r| r == @subtitle.release || r.subtitle.blank?}.each do |release| %>
							<li><p><%= link_to release, {'data-ping' => release.subtitle.id} %></p></li>
						<% end %>
						</ul>
					</div>
				</div>
				<% end #if @production.releases.length > 1 %>
				<%= render :partial => 'layouts/comments', :locals => {:url => @canonical} %>
			</div>

		</div>
	</div>
</div>
<iframe name="download-target" class="hidden"></iframe>
