<% content_for :title do %>Serviço Indisponível<% end %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'error' %>
<% end %>
<% content_for :custom_ga do %>
    ga('send', 'event', 'HTTP status', '503', document.location.href);
<% end %>
<div class="jumbotron text-center">
    <h1>Erro 503! :(</h1>
    <p><strong>Nosso serviço está indisponível no momento.</strong></p>
    <p>Desculpe por isso! Espere alguns minutos e tente de novo, por favor.</p>
</div>
