<% content_for :title do %>Modificação Rejeitada<% end %>
<% content_for :css do %>
    <%= stylesheet_link_tag 'error' %>
<% end %>
<% content_for :custom_ga do %>
    ga('send', 'event', 'HTTP status', '422', document.location.href);
<% end %>
<div class="jumbotron text-center">
    <h1>Erro 422!</h1>
    <p><strong>Sua modificação foi rejeitada.</strong></p>
    <p><a href="javascript:history.go( -1 )">Volta lá</a> e tenta com mais jeitinho. ;-)</p>
</div>
