<% content_for :title do %>Página não encontrada<% end %>
<% content_for :css do %>
	<%= stylesheet_link_tag 'error' %>
<% end %>
<% content_for :custom_ga do %>
	ga('send', 'event', 'HTTP status', '404', document.location.href);
<% end %>
<div class="jumbotron text-center">
	<h1>Erro 404! :(</h1>
	<p><strong>Infelizmente não encontramos a página que você procurava</strong></p>
	<form class="form-inline" role="form" style="margin: 40px 0 5px" action="<%= url_for :controller => 'application', :action => 'search' %>">
		<div class="form-group">
			<input class="form-control input-lg" type="text" placeholder="Um filme ou série" name="q">
		</div>
		<button type="button" class="btn btn-primary btn-lg">Buscar</button>
	</form>
	<p>Realize uma busca ou volte para a <a href="/">home</a> e confira alguns dos <a href="/">filmes e séries mais acessados do momento</a>.</p>
</div>
