<% content_for :description do %>As melhores séries e filmes em destaque para você baixar legendas: <%= @tv_shows.join( ', ' ) %>, <%= @movies.join( ', ' ) %>.<% end %>
<% content_for :keywords do %>filmes, movies, séries, tv shows, TV, destaques, featured<% end %>
<script>
	(function(){
		var i = Math.floor(Math.random() * <%= Rails.application.config.home_backgrounds %>) + 1,
			path = '//img.legendas.de/home_wallpapers/' + i;

		document.documentElement.style.backgroundImage = 'url(' + path + '.jpg), url(' + path + '.png)';
	}());
</script>
<% content_for :css do %>
	<%= stylesheet_link_tag 'home' %>
	<style media="screen">.main-search input::-webkit-input-placeholder {color: #555;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);line-height: 24px}</style>
<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'lightweight' %>
<% end %>

<div class="main-search hidden-xs">
	<form class="container-fluid" action="search">
		<div class="row">
			<div class="col-sm-9">
				<input placeholder="Digite o nome da série ou do filme." name="q">
			</div>
			<div class="col-sm-3">
				<button type="submit">Buscar</button>
			</div>
		</div>
	</form>
</div>

<section class="panel panel-default">
	<header class="panel-heading">
		<h1 class="panel-title">Séries em Destaque</h1>
	</header>
	<div class="panel-body container-fluid">
		<%= render :partial => 'layouts/list', :locals => {:list => @tv_shows, :show_episode => true} %>
	</div>
	<footer class="panel-footer text-right">
		<%= link_to :controller => 'tv_shows', :action => 'all' do %>Ver todas as séries &raquo;<% end %>
	</footer>
</section>

<section class="panel panel-default">
	<header class="panel-heading">
		<h1 class="panel-title">Filmes em Destaque</h1>
	</header>
	<div class="panel-body container-fluid">
		<%= render :partial => 'layouts/list', :locals=> {:list => @movies} %>
	</div>
	<footer class="panel-footer text-right">
		<%= link_to :controller => 'movies', :action => 'all' do %>Ver todos os filmes &raquo;<% end %>
	</footer>
</section>
