<% content_for :title do %>Em Manutenção<% end %>
<% content_for :css do %>
	<%= stylesheet_link_tag 'error' %>
<% end %>
<div class="jumbotron text-center">
	<h1>Em Manutenção!</h1>
	<p><strong>Estamos fazendo melhorias no site.</strong></p>
	<p>Volte mais tarde. Temos certeza que a espera vai ter valido a pena.</p>
</div>
