<% content_for :css do %><%= stylesheet_link_tag 'list' %><% end %>
<% content_for :title do %>de Filmes e Séries com &quot;<%= params[:q] || params[:name] %>&quot;<% end %>
<% content_for :description do %>Baixe as legendas de todos os filmes e séries que contenham &quot;<%= params[:q] || params[:name] %>&quot;.<% end %>
<% content_for :keywords do %>filmes, séries, movies, tv shows, TV, search, busca, <%= ( params[:q] || params[:name] || '' ).split.join(', ') %><% end %>
<%= render :partial => 'layouts/breadcrumb', :locals => {:breadcrumb => [{:name => "Busca por \"#{params[:q] || params[:name]}\""}], :url => @canonical} %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="panel-title">Resultado de busca por<% if params[:type] == 'tv_show' then %> séries<% elsif params[:type] == 'movie' %> filme<% end %>: <%= params[:q] || params[:name] %></h1>
			</div>
			<div class="col-sm-4 text-right hidden-xs">
				<form action="<%= url_for :controller => 'application', :action => 'search' %>" role="form">
					<input class="form-control" type="text" name="q" value="<%= params[:q] || params[:name] %>">
					<% if params[:type] then %><input type="hidden" name="type" value="<%= params[:type] %>"><% end %>
				</form>
			</div>
		</div>
		<hr>
		<% if !params[:type] then %>
		<div class="bottom-line">
			<ul class="nav nav-pills">
				<li><a href="#series"><strong>Séries</strong> (<%= @search[:tv_shows].length %>)</a></li>
				<li><a href="#filmes"><strong>Filmes</strong> (<%= @search[:movies].length %>)</a></li>
			</ul>
		</div>
		<hr>
		<% end #if !params[:type] %>

		<% unless @search[:tv_shows].blank? && @search[:movies].blank? %>
			<% if !@search[:tv_shows].blank? then %>
			<section id="series">
				<h2>Séries</h2>
				<%= render :partial => 'layouts/list', :locals=> {:list => @search[:tv_shows]} %>
			</section>
			<% end #if @search[:tv_shows] %>
			<% if !@search[:movies].blank? then %>
			<section id="filmes">
				<h2>Filmes</h2>
				<%= render :partial => 'layouts/list', :locals=> {:list => @search[:movies]} %>
			</section>
			<% end #if @search[:movies] %>
		</div>
		<% else #unless @search[:tv_shows].blank? && @search[:movies].blank? %>
		<div>
			<h4 class="text-center">Nenhum resultado encontrado para <em><%= params[:q] || params[:name] %></em>.</h4>
		</div>
		<% end #unless @search[:tv_shows].blank? && @search[:movies].blank? %>
	</div>
</div>
