<%
	uri = URI.parse(url)
	uri.port = nil
	uri.host = "www.#{ENV['CLOUDFLARE_DOMAIN']}"

	url = uri.to_s
%>
<section class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title small">Comentários</h2>
	</div>
	<div class="panel-body">
		<div class="fb-comments" data-href="<%= url %>" data-num-posts="20"></div>
	</div>
</section>
