<div class="clearfix"></div>
<% date = false if !defined? date %>
<section class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title small">Sinopse</h2>
	</div>
	<div class="panel-body">
		<p itemprop="description">
			<% if description.blank? %>
				<em class="muted">Nenhuma sinopse por enquanto.</em>
			<% else %>
				<%= description %>
			<% end %>
		<p>
	</div>
</section>
