<% big = false if !defined? big %>
<%= link_to episode.episode_path, class: 'thumbnail text-center-xs' do %>
	<% unless episode.thumb_path.blank? %>
	<%= image_tag('episode-poster-bg.svg', alt: episode, width: 338, class: 'img-responsive', data: {src: episode.thumb_path('338x190')}) %>
	<meta itemprop="image" content="<%= episode.thumb_path '338x190' %>">
	<% else %>
	<%= image_tag('episode-poster-bg.svg', alt: episode, width: 338, class: 'img-responsive') %>
	<% end %>
	<% if big then %>
	<h3 class="h4">
		<%= episode %>
		<meta property="partOfSeason" content="<%= episode.season %>">
		<meta itemprop="episodeNumber" content="<%= episode.number %>">
		<meta itemprop="name" content="<%= episode.name %>">
	</h3>
	<% else %>
	<h6>
		<%= episode %>
		<meta property="partOfSeason" content="<%= episode.season %>">
		<meta itemprop="episodeNumber" content="<%= episode.number %>">
		<meta itemprop="name" content="<%= episode.name %>">
	</h6>
	<% end %>
	<p class="muted"><small><% if !episode.release_date.nil? then %><%= (l episode.release_date, :format => :long).downcase %><meta itemprop="datePublished" content="<%= episode.release_date.iso8601 %>"> - <% end %><%= episode.releases.length > 0 ? pluralize(episode.releases.length, 'legenda') : 'nenhuma legenda' %></small></p>
	<meta property="partOfTVSeries" content="<%= episode.tv_show.name %>" />
<% end %>
