	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= yield :description %>">
	<meta name="keywords" content="baixar, legendas, subtitles, download, português, portuguese<% if content_for? :keywords then %>, <%= yield :keywords %><% end %>">
	<meta name="robots" content="index, follow">
	<meta name="copyright" content="2012 - <%= Time.now.year %> Baixar Legendas. Todos os direitos reservados.">

	<title>Baixar Legendas <%= yield :title %></title>

	<!-- Le styles -->
	<%= yield :css %>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<%= favicon_link_tag 'favicon.png', type: 'image/png' %>
	<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', sizes: '144x144', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
	<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', sizes: '114x114', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
	<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', sizes: '72x72', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
	<%= favicon_link_tag 'apple-touch-icon-57x57-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
	<% if !@canonical.nil? then %><link rel="canonical" href="<%= @canonical %>"><% end %>
	<%= favicon_link_tag content_for?( :main_image ) ? yield( :main_image ) : 'apple-touch-icon-144x144-precomposed.png', rel: 'image_src', type: 'image/png' %>

	<meta property="og:title" content="<%= content_for?( :og_title ) ? yield( :og_title ) : "Baixar Legendas" %>">
	<meta property="og:description" content="<%= content_for?( :og_description ) ? yield( :og_description ) : yield( :description ) %>">
	<meta property="og:site_name" content="Baixar Legendas">
	<meta property="og:image" content="<%= content_for?( :main_image ) ? yield( :main_image ) : image_url('apple-touch-icon-144x144-precomposed.png') %>">
	<meta property="og:url" content="<%= @canonical %>">
	<meta property="og:type" content="<%= content_for?( :og_type ) ? yield( :og_type ) : 'website' %>">
	<meta property="fb:app_id" content="<%= Rails.application.config.facebook_app_id %>">
	<meta property="og:locale" content="pt_BR">
	<%= yield :meta %>
