<% show_episode = false if !defined? show_episode %>

<div class="row list">
	<% list.each_with_index do |production, index|
		poster = production.poster
		show_badge = show_episode && production.latest_episode
	%>
	<div class="item col-md-2 col-sm-3 text-center-xs" itemprop="episode" itemscope itemtype="http://schema.org/TVEpisode">
        <a href="<%= production.path %><% if show_badge then %>/<%= production.latest_episode %><% end %>" class="thumbnail">
            <% if !poster.blank? then %>
				<%= image_tag 'poster-bg.svg', size: '160x240', class: 'img-responsive', alt: production.name, data: {src: poster} %>
			<% else %>
				<%= image_tag 'poster-bg.svg', size: '160x240', class: 'img-responsive', alt: production.name %>
			<% end %>
            <h3 class="h6"><%= production.name %><% if production.year then %> <span class="text-muted text-normal">(<%= production.year%>)</span><% end %></h3>
			<% if show_badge then %>
			<span class="badge badge-episode"><%= production.latest_episode %></span>
			<% end %>
        </a>
    </div>
	<% if (index + 1) % 4 == 0 then %>
	<div class="clearfix visible-sm-block"></div>
	<% end %>
	<% if (index + 1) % 6 == 0 then %>
	<div class="clearfix visible-md-block visible-lg-block"></div>
	<% end %>
	<% end #@search['movies'].results.each %>
</div>

<% if list.respond_to? :total_pages then %>
<div class="text-center">
	<%= will_paginate list, renderer: BootstrapPagination::Rails, 'data-static-url' => ENV['ASSETS_SERVER'] ? "//#{ENV['ASSETS_SERVER']}" : '' %>
</div>
<% end %>
