<!DOCTYPE html>
<html lang="pt-BR"<% if content_for? :html_id then %> id="<%= yield :html_id %>"<% end %>>
	<head>
		<%= render :partial => 'layouts/head' %>
	</head>

	<body>
		<%= render :partial => 'layouts/facebook' %>

		<nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <%= image_tag('baixar-legendas.svg', size: '86x26', alt: 'Baixar Legendas') %>
                    </a>
                </div>
                <ul class="nav navbar-nav">
					<li<% if params[:controller] == 'movies' then %> class="active"<% end %>><a href="/filmes">Filmes</a></li>
					<li<% if ['tv_shows', 'episodes'].include? params[:controller] then %> class="active"<% end %>><a href="/series">Séries</a></li>
                </ul>
				<ul class="nav navbar-nav visible-xs-block pull-right">
					<li class="upload"><a href="<%= url_for :controller => 'subtitles', :action => 'upload' %>"><span></span></a></li>
				</ul>
                <form class="navbar-form navbar-left<% if current_page?('/') then %> visible-xs-block<% end %>" role="search" action="<%= url_for :controller => 'application', :action => 'search' %>">
                    <div class="form-group">
                        <label for="navbar-q" class="sr-only">Buscar</label>
                        <input type="search" class="form-control<% if params[:q] then %> focused<% end %>" placeholder="Buscar" name="q"  value="<%= params[:q] %>">
                    </div>
                    <button type="submit" class="btn btn-default sr-only">Ok</button>
                </form>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li class="upload"><a href="<%= url_for :controller => 'subtitles', :action => 'upload' %>"><span>Enviar legendas</span></a></li>
				</ul>
            </div>
        </nav>

		<div class="container">
			<%= yield %>

		</div> <!-- /container -->

		<footer>
			<div class="container">
				<p>&copy; 2012 - <%= Time.now.year %> Baixar Legendas. Todos os direitos reservados. Siga o <a href="http://twitter.com/baixarlegendas" target="_blank">@baixarlegendas</a> no <a href="http://twitter.com/baixarlegendas" target="_blank">Twitter</a> e <a href="http://facebook.com/baixarlegendas" target="_blank">Facebook</a></p>
			</div>
		</footer>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= yield :script %>

		<!-- Google analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-38828653-1', 'www.baixarlegendas.com.br');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');

			<%= yield :custom_ga %>
		</script>
	</body>
</html>
